{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Welcome</h1>
    <form action="get">
        <label for="">user id</label>
        <input type="text" placeholder="user id">
        <label for="">password</label>
        <input type="password"> 
        <br>
        <img src="{% static 'image/01.jpg'%}" alt="">
</body>
</html>